@import "reset";

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
}

h1 {
  padding: 5px 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .8em;
}
ul.happy {
  list-style: square;
  padding: 5px 0 0 5px;
  margin-left: 20px;
}
li {

  padding-top: 5px;
}
a:hover {
  color:darken(red, 20%);
  font-size: 107%;
}