@import "reset";

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
}

body {
  font-family: Helvetica;
  font-size: 50px;
  line-height: 21px;
}
div.title {
  padding-left: 60px;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  a {
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;

  }
}
div.nav {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 25px;
  display: inline-block;
}
li.topbar {
  display: inline-block;
  width: 49.5%;
}
li.topbar:focus {
  outline: 0;
  a {
    outline: none;
  }
}
h2 {
  font-size: 30px;
  text-align: center;
}
.quotes {
  padding-top: 40px;
  h2 {
    width: 49%;
    display: inline-block;
    font-size:40px;
    line-height: 1.5em;
  }
  div {
    text-align: right;
    display: inline-block;
    height: 300px;
  }
  .kelley {
  font-size: 30px;
  }
}
.welcome {
  width: 1000px;
  height: 570px;
  font-size: 0px;
  text-align: center;
  display: block;
  .pic1 {
    width: 41%;
    height: 100%;
  }
  .pic2 {
    height: 400px;
  }
}
img.photo {
  width: 70%;
  height: 70%;

}
a {
  color: #800000;
}
.puns {
  h2 {
    font-size: 30px;
    line-height: 1.5em;
  }
  img {
    width: inherit;
    height: 400px;
  }
}
p {
  margin-bottom: 1.1em;
}
/*
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .8em;
}
*/
.content {
  padding: 20px 0;
  font-size: 0;
}

.main, .side {
  display: inline-block;
  vertical-align: top;
}

.main {
  width: 65%;
  margin-right: 5%;
  font-size: 16px;
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}
