html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
}

body {
  font-family: Helvetica;
  font-size: 50px;
  line-height: 21px;
}

div.title {
  padding-left: 60px;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}
div.title a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

div.nav {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 25px;
  display: inline-block;
}

li.topbar {
  display: inline-block;
  width: 49.5%;
}

li.topbar:focus {
  outline: 0;
}
li.topbar:focus a {
  outline: none;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.quotes {
  padding-top: 40px;
}
.quotes h2 {
  width: 49%;
  display: inline-block;
  font-size: 40px;
  line-height: 1.5em;
}
.quotes div {
  text-align: right;
  display: inline-block;
  height: 300px;
}
.quotes .kelley {
  font-size: 30px;
}

.welcome {
  width: 1000px;
  height: 570px;
  font-size: 0px;
  text-align: center;
  display: block;
}
.welcome .pic1 {
  width: 41%;
  height: 100%;
}
.welcome .pic2 {
  height: 400px;
}

img.photo {
  width: 70%;
  height: 70%;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
}

/*
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: .8em;
}
*/
.content {
  padding: 20px 0;
  font-size: 0;
}

.main, .side {
  display: inline-block;
  vertical-align: top;
}

.main {
  width: 65%;
  margin-right: 5%;
  font-size: 16px;
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}
