@import "reset";

$headcolor:#376ba6;
$atagcolor:#E8E3E7;

header {
  background-color: $headcolor;
  width: 100%;
  height:30px;
  z-index: 100;
}
html, body {
  height:100%;
  width:100%;
  font-family: 'Muli', sans-serif;
}
.hitting {
  .hittinga {
    border-bottom: 2px solid red;
  }
}
.setting {
  .settinga {
    border-bottom: 2px solid red;
  }
}
.passing {
  .passinga {
    border-bottom: 2px solid red;
  }
}
body {
	padding-top: 30px;
	position: relative;
}
  h1 {
  	margin-bottom:10px; 
  	margin-top: 15px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
  }
    h2 {
    padding-left: 5px;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    padding: 8px 10px 8px 13px;
    line-height:1.25em; 
  }

header {
    top:0;
    position: fixed;
    line-height: 1.4em;
    text-align: center;
    .vblife {
      font-weight: bold;
      font-size: 105%;
    }
    a {
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    color: $atagcolor;
    border-bottom: 2px solid white;
    padding-top: 10px;
    }
  }
  section.picture {
  	margin:0 auto;
  	height:130%;
  	width:50%;
  	background-size: cover;
  	background-position: center center;
  	z-index: 1;
  }
  .info {
  	display: none;

  }
  .circle {
  	background-color: blue;
  	border-radius: 100%;
  	position: relative;
  	height:20px;
  	width: 20px;
  	border:1px solid blue;
  	-webkit-transition:all 100ms linear;
  }
  .info p {
  	opacity: 1 !important;
  	font-weight: bold;
  }
  .hitting section.picture {
  	background-image: url(vbhitting.jpg);
  }
  .setting section.picture {
  	background-image: url(vbsetting.jpg)
  }
  .passing section.picture {
  	background-image: url(vbpassing.jpg)
  }

  @mixin positioning($top, $left, $height, $width) {
    top: $top;
    left: $left;
    height: $height;
    width: $width;
  }

  .hitting {
    .armhover {
      z-index: 20;
      position: absolute;
      @include positioning(24%, 45%, 18%, 8%);
     }
    .shoulderhover {
      z-index: 20;
      position: absolute;
      @include positioning(64%, 50%, 18%, 10%);
    }
    .corehover {
      z-index: 20;
      position: absolute;
      @include positioning(100%, 48%, 18%, 15%);
    }
    .picture .info {
      position: absolute;
      @include positioning(26%, 27%, auto, 15%);
    }
    .circlearm {
/*      @include positioning(40%, 30%);*/
      top:40%;
      left:30%;
    }
    .circleshoulder {
      top:37%;
      left:45%;
    }
    .circlecore {
      top:40%;
      left:60%;
    }  
  }


  





  .setting .handshover {
  	z-index: 20;
  	position: absolute;
  	top:22%;
  	left:44%;
  	height:15%;
  	width: 15%;
/*  	border: 2px solid black;
*/  }
  .setting .shouldershover {
  	z-index: 20;
  	position: absolute;
  	top:50%;
  	left:40%;
  	height:13%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
  .setting .eyeshover {
  	z-index: 20;
  	position: absolute;
  	top:38%;
  	left:40%;
  	height:9%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
.setting .picture .info {
  	position: absolute;
  	left:26%;
  	top:35%;
  	height:auto;
  	width: 15%;
/*  	border: 2px solid black;
*/  }

  .setting .circlehands {
  	top:20%;
  	left:30%;
  }
  .setting .circleshoulders {
  	top:37%;
  	left:75%;
  }
  .setting .circleeyes {
  	top:40%;
  	left:55%;
  }  






  .passing .wristhover {
  	z-index: 20;
  	position: absolute;
  	top:80%;
  	left:58%;
  	height:15%;
  	width: 10%;
/*  	border: 2px solid black;
*/  }
  .passing .bodyhover {
  	z-index: 20;
  	position: absolute;
  	top:38%;
  	left:40%;
  	height:12%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
  .passing .kneeshover {
  	z-index: 20;
  	position: absolute;
  	top:88%;
  	left:30%;
  	height:13%;
  	width: 10%;
/*  	border: 2px solid black;
*/  }
  .passing .picture .info {
  	position: absolute;
  	right:26%;
  	top:15%;
  	height:auto;
  	width: 15%;
/*  	border: 2px solid black;
*/  }

  .passing .circlewrist {
  	top:25%;
  	left:38%;
  }
  .passing .circlebody {
  	top:37%;
  	left:30%;
  }
  .passing .circleknees {
  	top:40%;
  	left:55%;
  }  




  .whenhover {
  	height: 35px;
  	width: 35px;
  }
  .whenclick {
  	display: inline-block;
  	background-color:white;
  	opacity: 0.5;
  }
  

  .hitting .crop, .hitting .work {
     display: none;
  }
  .setting .crop, .setting .work {
     display: none;
  }
  .passing .crop, .passing .work {
     display: none;
  }

  @media screen and (max-width:1100px) {
  	.hitting .crop, .hitting .work {
     display: none;
  }
  .setting .crop, .setting .work {
     display: none;
  }
  .passing .crop, .passing .work {
     display: none;
  }
    .passing .picture .info {
  		right:20%;
  		width:20%;
  	}
	section.picture {
		width:70%;
	}
	.passing .circlewrist {
		left:60%;
	}	  	
	.passing .circlebody {
		left:20%;
	}

  }
  .crop, .work {
    display: none;
  }
  @media screen and (max-width:900px) {
    .crop, .work {
    display: none;
  }	
    .passing {
      .picture .info {
        right:15%;
        width:25%;
      }
      .circlewrist {
        left:80%;
      }     
      .circlebody {
        left:5%;
      }

      .circleknees {
        left:30%;
      }  
    }
  	section.picture {
  		width:75%;
  	}
  	
    .setting .circlehands {
  		top:45%;
  		left:30%;
    }
  	.setting .circleshoulders {
  	  	top:60%;
  	  	left:75%;
  	  }
  	.setting .circleeyes {
  	  	top:80%;
  	  	left:55%;
  	  }
  	.setting .picture .info {
  		left:15%;
  		width:20%;
  	}
    .hitting .picture .info {
      width:20%;
    }
  }

  @media screen and (max-width:750px) {
    .crop, .work {
    display: none;
  }
  	 section.picture {
		    width:80%;
  	 }
  	.passing {
      .picture .info {
        right:13%;
        width:30%;
      }
      .wristhover {
        left:70%;
      }
      .bodyhover {
        left:30%;
      }
      .kneeshover {
        left:20%;
      }
      .circlewrist {
        left:20%;
      }     
      .circlebody {
        left:50%;
      }
      .circleknees {
        left:50%;
      }
    }
    .setting {
      .circleshoulders {
        top:60%;
        }
      .eyeshover {
        top:41%;
      }
      .handshover {
        top:26%;
      }
      .picture .info {
        left:15%;
        width:20%;
      }
    }
    .hitting {
      .armhover {
        top:28%;
      }
      .armhover {
        top:28%;
      }  
      .picture .info {
        left: 12%;
        width:27%;
      }
    }
    
  }

  @media screen and (max-width:550px) {
    .crop, .work {
    display: none;
  }
    header {
      position:static;
      height:auto;
      padding-bottom: 5px;
    }
    body {
      padding-top:0px;
    }
  	
  	section.picture {
  		width:100%;
  	}
    .passing {
      .wristhover {
       left:75%;
       width:13%;
      }
      .bodyhover {
        left:25%;
        width:19%;
      }
      .kneeshover {
        left:15%;
        width:14%;
      }
      .picture .info {
        right:5%;
        width:38%;
    }
    }
  	
    .setting .picture .info {
      left:2%;
      width:30%;
      } 
    .hitting .picture .info {
      left: 2%;
      width:33%;
      }
  }

  @media screen and (max-width:420px) {
    .crop, .work {
    display: inherit;
  }
  	header {
      position:static;
      height:auto;
      padding-bottom: 5px;
    }
    body {
      padding-top: 0;      
    }   
    
    .hitting, .setting, .passing {
      img {
        width:100%;
       }
       .crop {
        display: block;
       }
       .info {
         display:none;
       }
       .picture {
        display:none;
       }
       .circle {
        display: none;
       }
     }
    h2 {
      text-align: center;
      padding: 5px 0 7px 0;
    }
    p {
      padding-bottom: 45px;
    }
  }