html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}
html, body {
  height:100%;
}

section {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  width:100%;
}
section.one {
  background-image: url(picone.jpg);
}
section.two {
  background-image: url(pictwo.jpg);
}
section.three {
  background-image: url(picthree.jpg);
}
section.four {
  background-image: url(picfour.png);
}
div {
  padding: 8px;
  height:200px;
  width:150px;
  border-radius: 20px;
  position: absolute;
  height: auto;
}
.one div {
  top:28px;
  left:28px;
}
.two div{
  bottom:28px;
  left:100px;
}
.three div{
  top:5%;
  right:5%;
}
.four div{
  top:100px;
  right:80px;

}
div .cite {
  margin: 7px 0 0 15px;
  font-weight: bold;
}
.circle {
  position:absolute;
  top:10px;
  left:10px;
  width: 180px;
   height: 180px;
   background: rgba(200, 200, 100, 0.6); 
   border-radius: 100%;

}
.oval{
  position: absolute;
  bottom:20px;
  left:15px;
   width: 300px; 
   height: 130px; 
   background: rgba(200, 200, 100, 0.6); 
   border-radius: 200px /85px; 
}
.star {
   height: 150px;
   width: 150px;
   background: rgba(200, 200, 100, 0.6);
   position: absolute;
   top:5%;
   right:6%;
}
.star::before {
   height: 150px;
   width: 150px;
   background: rgba(200, 200, 100, 0.6);
   content:"";
   position: absolute;
   -webkit-transform: rotate(30deg);
   }
.star::after {
   height: 150px;
   width: 150px;
   background: rgba(200, 200, 100, 0.6);
   content:"";
   position: absolute;
   -webkit-transform: rotate(-30deg);
   }
.diamond {
  position: absolute;
  top:100px;
  right:15px;
  width: 150px; 
  height: 150px; 
  background: rgba(200, 200, 100, 0.6);
  margin: 3px 0 0 30px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
 }